
.row{
    padding: 20px;
}
div{
    text-align: left;
    color: white;
    background: linear-gradient(180deg, black, rgba(177, 150, 0, 0.486));
}

tbody{
    text-align: center;
    color: white;
    background-attachment: auto;
    background: fixed;
}
